{% extends "base.html" %}
{% block content %}
    <div class="row">    
    <div class="col"><h3>{{ account['name']|title }}</h3></div>
    <div class="col right"><h3>Balance: {{ total }}</h3></div>
    </div>
    <div class="card">
    <div class="card-content">
    <span class="card-title">Details</span>
    <table>
      <tbody>
        <tr><td><i class="material-icons">email</i></td><td>Email Address</td><td>{{ account['email'] }}</td></tr>
        <tr><td><i class="material-icons">attach_money</i></td><td>Funding Source</td><td>{{ account['payment_type'] }}</td></tr>
        <tr><td><i class="material-icons">ballot</i></td><td>Badge Number</td><td>{{ account['badge'] }}</td></tr>
        <tr><td><i class="material-icons">format_align_left</i></td><td>Alt Barcode</td><td>{{ account['volunteer_barcode'] }}</td></tr>
        <tr><td><i class="material-icons">credit_card</i></td><td>Credit Card Associated</td><td>{{ "Yes" if account['stripe_id'] else "No" }}</td></tr>
      <tbody>
    </table>
    </div>
    </div>

    <div class="card">
    <div class="card-content">
    <span class="card-title">Transactions</span>
    {% if transactions %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Badge</th>
                <th>Name</th>
                <th>Email</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Note</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.badge }}</td>
                <td>{{ transaction.name }}</td>
                <td>{{ transaction.email }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.total }}</td>
                <td>{{ transaction.note }}</td>
                <td>{{ transaction.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No transactions have been committed.</p>
    {% endif %}
    </div>
    </div>
{% endblock %}
