{% extends "base.html" %}
{% block content %}
    <h4>Add Cash Payment From {{ managed_account['name'] }}</h4>
    <p>Only an admin may use this form to add a cash transaction to this account.</p>
    <br>
    <div class="row">
        <form id="cashform">
            <div class="row">
                <div class="input-field">
                    <input placeholder="10" name="amount" id="amount" type="number">
                    <label for="amount">Amount (in dollars)</label>
                </div>
            </div>
            <input type="hidden" value="{{ managed_account['id'] }}" name="managed_account">
        </form>
        <button class="btn waves-effect waves-light" onclick="add_cash()">Submit
            <i class="material-icons right">send</i>
        </button>
{% endblock %}
{% block includes %}
    <script src="/js/activate-cash.js"></script>
{% endblock %}