<html>
    <head>
        <title>Coldbrew</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% block includes %}{% endblock %}
    </head>
    <body>
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="/" class="left brand-logo">
                    <i style="font-size: 50px" class="material-icons">local_drink</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/accounts">Accounts</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/transactions">Transactions</a></li>
                </ul>
            
                <ul id="nav-mobile" class="sidenav">
                    <li><a href="/accounts">Accounts</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/transactions">Transactions</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="right sidenav-trigger">
                    <i style="font-size: 50px" class="material-icons">menu</i>
                </a>
            </div>
        </nav>
        <div class="container">
        {% block content %}
            <h3>Welcome to the TechOps Coldbrew Management System!</h3>
            <p>This system tracks how much coldbrew coffee is consumed by TechOps and our friends. Contact Robert Scullin (@rscullin) or Mark Murnane (@bitbyt3r) for details.</p>
        {% endblock %}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>