{% extends "base.html" %}
{% block content %}
    {% if transactions %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Badge</th>
                <th>Name</th>
                <th>Email</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Note</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.badge }}</td>
                <td>{{ transaction.name }}</td>
                <td>{{ transaction.email }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.total }}</td>
                <td>{{ transaction.note }}</td>
                <td>{{ transaction.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <h1>No transactions have been committed.</h1>
    {% endif %}
{% endblock %}